{{#each items}}
<li>
    {{ this.UUID_part }} 
    {{this.va_ratio}}
    {{ this.area}}
    {{ this.volume}}
    {{ this.x_dim}}
    {{ this.y_dim}}
    {{ this.z_dim}}
    </li>
  {{/each}}

  <img class="logo" src="http://localhost:8000/images/815cb4ae-45de-48cc-9778-e92b4fc0eb85.jpg" alt="My_Logo" height=100 width=100></td>